/* You can add global styles to this file, and also import other style files */

$primary: #ff5622;

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0px auto;
}

header {
  background: $primary;
  padding: 1em 0;

  a.logo {
    color: white;
    text-decoration: none;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        color: white;
        text-decoration: none;
        padding: 1em;
        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}
